<ion-header>
  <ion-navbar color="dark">
    <ion-title>Formulario Index</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="LoginForm" (ngSubmit)="login()">
    <ion-list>      
      
      <ion-item> 
        <ion-icon name="mail" item-start></ion-icon>
        <ion-label stacked>Correo electronico:</ion-label>
        <ion-input [(ngModel)]="userData.email" formControlName="email" type="email" placeholder="Email" value=""></ion-input>
      </ion-item>      
      
      <ion-item>
          <ion-icon name="eye" item-start></ion-icon>
          <ion-label stacked>Contraseña:</ion-label>
          <ion-input [(ngModel)]="userData.password" formControlName="password" type="password" placeholder="Contraseña" value=""></ion-input>
      </ion-item>
     
     </ion-list> 
    <div padding>
      <button ion-button block type="submit" [disabled]="!LoginForm.valid">Iniciar</button>
    </div>
  </form>
</ion-content>

