page-index {

}

.list-md {
    width: 50% !important;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

ion-app.md [padding] {
    width: 50% !important;
    margin: 0 auto;
}

.button-md {
    background-color: black;
}

.button-md:hover:not(.disable-hover) {
    background-color: darkcyan;
}


.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: darkcyan;
    -webkit-box-shadow: inset 0 -1px 0 0 darkcyan;
    box-shadow: inset 0 -1px 0 0 darkcyan;
}
