<ion-header>
  <ion-navbar color="dark">
    <ion-title>Home Result</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <h3>Usuario {{userData.firstName}} {{userData.lastName}}</h3>
  </ion-row>
  <ion-row>
    <div class = "row">
       <div class = "col">Token Asignado: {{userAPI.sessionTokenBck}}</div>
       <div class = "col col-offset-25"></div>
       <div class = "col buttom-close">
         <button color="danger" ion-button (click)="logout()">Cerrar sesión</button>
       </div>
    </div>    
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>
  <h2>Bookings</h2>
  <ion-searchbar [(ngModel)]="terms" placeholder="Introducir BookingId"></ion-searchbar>
  <div class="row header">
      <div class="col"><strong>BookingId</strong></div>
      <div class="col"><strong>Cliente</strong></div>
      <div class="col"><strong>Fecha de Creación</strong></div>
      <div class="col"><strong>Dirección</strong></div>
      <div class="col"><strong>Precio</strong></div>
    </div>
    <div class="row body" *ngFor="let book of bookingData | search : terms">
      <div class="col">{{book.bookingId}}</div>
      <div class="col">{{book.tutenUserClient.firstName}} {{book.tutenUserClient.lastName}}</div>
      <div class="col">{{book.bookingTime | date:'dd-MM-yyyy' }}</div>
      <div class="col">{{book.locationId.streetAddress}}</div>
      <div class="col">{{book.bookingPrice}}</div>
    </div>
</ion-content>
